extends ../shared/template
block content
  h1 Auctions
  table.table.table-striped.table-hover.table-bordered
    thead
      tr
        th Name
        th Number of Items
        th Location
    tbody
      each auction in auctions
        tr
          td= auction.itemId
